body {
  background-color: grey;
  margin: 0;
  background: #eceef1;
}

.sign-in-header {
  display: flex;
  justify-content: flex-end;
}

.sign-in-container {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  margin: 3px 40;
  padding: 0;
}

.sign-in-btn {
  width: 15%;
  background-color: #0077c5;
  border-radius: 4px;
  color: white;
  margin: 10;
  border-width: 1px;
  border-color: #4c4c4c;
}

.forgot-username-text {
  font-size: 12px;
  font-weight: 400;
  color: #505050;
  font-family: AvenirNext, Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 17px;
}

.forgot-password-link {
  text-decoration: none;
  color: #0077c5;
}

.main-container {
  display: flex;
  justify-content: center;
  margin-top: 1.5%;
}

.form-container {
  width: 30%;
}

.intuit-image-container {
  display: flex;
  justify-content: center;
}

.intuit-image {
  width: 118px;
  height: 35px;
  background-image: url(https://plugin.intuitcdn.net/identity-authn-core-ui/1.6.5/images/ecosystem_logos_new.png);
}

.small-image-container {
  justify-content: center;
  display: flex;
}

.small-images {
  width: 23px;
  height: 23px;
  display: inline-block;
  margin-right: 4px;
  position: relative;
}

li {
  list-style: none;
}

ul {
  padding-inline-start: 0;
  display: flex;
  margin-left: 0;
  justify-content: space-evenly;
  width: 88%;
}

.inner-form-container {
  width: 100%;
  background-color: white;
  border: 1px solid #c7c7c7;
  margin-bottom: 0;
}

#text-form {
  text-align: center;
  font-size: 20;
}

#text-form-inner {
  font-size: 14px;
  text-align: center;
}

#learn-more-link {
  text-align: center;
  font-size: 14px;
  text-decoration: none;
  color: #0077c5;
}

.form-body {
  margin: 25px;
}

.label-design {
  margin-bottom: 50;
}

input {
  margin-top: 10;
  width: 95%;
  padding: 9px;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
}

.form-elements {
  margin-bottom: 30;
}

#submit-btn {
  width: 100%;
  padding: 14px;
  color: white;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  background-color: #0077c5;
}

.form-footer {
  margin-top: 40;
  color: grey;
  font-size: 11px;
  background-color: #eceef1;
  width: 100%;
  text-align: center;
  padding: 20 0;
  margin-bottom: 0;
}

.footer {
  color: #505050;
  text-align: center;
  line-height: 6px;
  font-family: AvenirNext, Avenir, "Helvetica Neue", Helvetica, Arial sans-serif;
  font-size: 12px;
  padding: 50 0;
}

.footer-links {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  width: 11%;
  margin: 0;
}

.links {
  color: #505050;
  text-decoration: none;
}

.links:hover {
  text-decoration: underline;
}
